*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    /* background-color: gray; */
    
}
.chrom{
    margin-top: 10px;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 20%;
    background-color: rgb(243, 241, 241);
    border: 0.5px solid rgba(104, 97, 97, 0.281);
    text-align: left;
    
    line-height: 10px;
}
.chrom .text1{
    margin-top: 7px;
    font-size: 12px;

}
.times{
    font-size: 20px;
    margin-top: 7px;
    padding-left: 35px;
    cursor: pointer;
}
.fb1{
    width: 100%;
    height: 20%;
    background-color:#385898 ;
    border: 0.5px solid rgba(104, 97, 97, 0.281);
    text-align: center;
    border-radius: 0px 0px 3px 3px;
   
    
}
.fb1 p{
    margin-top: 7px;
    font-size: 27px;
    color: white;
    font-weight: 650;
}
.account{
    margin-top: 8px;
    border-radius: 3px;
    margin-left: -15px;
    width: 100%;
    height: 50%;
    border: 0.5px solid rgba(104, 97, 97, 0.281);
    color: gray;
    font-size: 13px;
    position: relative;
   
}
.row .p1{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.815);
    font-weight: 600;
    padding-top: 10px;
}

.row .p3, .row .p4, .row .p2{
    text-align: center;
}
.find{

    border: 0.5px solid rgba(104, 97, 97, 0.281);
    border-left: none;
    border-right: none;
    background-color: rgba(170, 163, 163, 0.116);
    text-align: center;
    padding: 10px;
    color: #385898;
    border-radius:3px;
   
    
}
 .find p{
    cursor: pointer;
    
}
.consident{
    border-radius: 3px;
    padding: 5px;
    margin:auto;
    margin-top: 7px;
    text-align: center;
    color: white;
    border: 0.5px solid rgba(104, 97, 97, 0.281);
    background-color: #3578e5;
}
.consident a{
    margin-top: 7px;
    color: white;
}
/*  */
